<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eakurnikov.kaspressosample">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name="com.eakurnikov.kaspressosample.domain.app.KaspressoSampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".view.simple.SimpleActivity"
            android:label="@string/simple_screen" />

        <activity
            android:name=".view.simple.SecondActivity"
            android:label="@string/second_screen" />

        <activity
            android:name=".view.docloc.DocLocActivity"
            android:label="@string/doc_loc_screen" />

        <activity
            android:name=".view.posts.PostsActivity"
            android:label="@string/posts_screen" />

        <activity
            android:name=".view.flaky.FlakyActivity"
            android:label="@string/flaky_screen" />

        <activity
            android:name=".view.webview.WebViewActivity"
            android:label="@string/webview_screen" />

    </application>

</manifest>